<div class="user-details">
    <mat-list>
        <mat-list-item class="u-textalign-center">
            <span class="mat-headline-large title">User Details</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title mat-title-large">Name : </span><span class="mat-headline-small">{{user.nome | dashEmptyPipe}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title mat-title-large">Email : </span><span class="mat-headline-small">{{user.email | dashEmptyPipe}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title mat-title-large">Phone Number : </span><span class="mat-headline-small">{{user.telefone | phone }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title mat-title-large">Adress : </span><span class="mat-headline-small">
                {{user.endereco | address}}
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title mat-title-large">Status : </span><span class="mat-headline-small">{{user.ativo | status }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title mat-title-large">Role : </span><span class="mat-headline-small">{{user.funcao | dashEmptyPipe}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title mat-title-large">Register Date : </span><span class="mat-headline-small">{{user.dataCadastro | date: 'dd/MM/yyyy' | dashEmptyPipe}}</span>
        </mat-list-item>
    </mat-list>
</div>
